/AdaptedRoutes/
/navdata_parser/28DaySubscription_Effective_2021-08-12/
/navdata_parser/CIFP_210909/
/navdata_parser/out/
/navdata_parser/zla_data/
/navdata_parser/AircraftCharacteristicsTAS_Data.csv
/adrdata/AdaptedRoutes/
/adrdata/out/
/adrdata/zbw/
/adrdata/zoa/

__pycache__/
venv